@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a;
  }
}
